{% extends "users/base.html" %}
{% load static %}

{% block title %}
    {{ query|default_if_none:"" |yesno:"Search Results,Latest Releases" }}
{% endblock %}

{% block content %}
    <h2>
        {% if query %}
            Results for "{{ query }}"
        {% else %}
            Latest Releases
        {% endif %}
    </h2>

    <div class="movie-grid">
        {% for movie in page_obj %}
            {% include "users/partials/movie_card.html" with movie=movie %}
        {% empty %}
            <p>No movies found.</p>
        {% endfor %}
    </div>

    {% if page_obj.paginator.num_pages > 1 %}
    <div class="app-pagination">
    <div class="app-pagination__left">
        {% if page_obj.has_previous %}
        <a class="app-page-btn" href="?{% if query %}q={{ query }}&{% endif %}page={{ page_obj.previous_page_number }}">⏮ Previous</a>
        {% endif %}
    </div>

    <div class="app-pagination__center">
        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    </div>

    <div class="app-pagination__right">
        {% if page_obj.has_next %}
        <a class="app-page-btn" href="?{% if query %}q={{ query }}&{% endif %}page={{ page_obj.next_page_number }}">Next ⏭</a>
        {% endif %}
    </div>
    </div>
    {% endif %}
{% endblock %}
